micronaut:
  application:
    name: theWeekendBot
  server:
    thread-selection: auto
  http:
    client:
      pool:
        enabled: true
  health:
    monitor:
      enabled: false

jackson:
  deserialization:
    fail-on-missing-creator-properties: true
  serialization-inclusion: always
  time-zone: UTC

mongodb:
  uri: mongodb://username:password@127.0.0.1/movies?authSource=admin
  database-name: movies
  collection-name: movies

discord:
  token: "my-cool-token"
  raw-bot-id: 123124123
  schedule: "0 0 0 * * FRI"
  channels:
    - name: some-channel-name
      raw-id: 11223344
      enabled: true
